In [11]:
import json

In [12]:
import pandas as pd

In [27]:
import numpy as np

In [13]:
from pandas.io.json import json_normalize

In [14]:
wb_df = pd.read_json('/Users/yungreezy/assignments/world_bank_projects.json')

In [15]:
wb_data_json = json.load((open('/Users/yungreezy/assignments/world_bank_projects.json')))

In [16]:
country_count = wb_df['countryshortname'].value_counts()

In [17]:
mjtheme_namecode = json_normalize(wb_data_json, 'mjtheme_namecode')

/Users/yungreezy/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """Entry point for launching an IPython kernel.

In [18]:
mjtheme_namecode.head(20)

   code                                          name
0     8                             Human development
1    11
2     1                           Economic management
3     6         Social protection and risk management
4     5                         Trade and integration
5     2                      Public sector governance
6    11  Environment and natural resources management
7     6         Social protection and risk management
8     7                   Social dev/gender/inclusion
9     7                   Social dev/gender/inclusion
10    5                         Trade and integration
11    4      Financial and private sector development
12    6         Social protection and risk management
13    6
14    2                      Public sector governance
15    4      Financial and private sector development
16   11  Environment and natural resources management
17    8
18   10                             Rural development
19    7

### 1. Find the 10 countries with most projects

In [19]:
country_count.nlargest(10)

Indonesia             19
China                 19
Vietnam               17
India                 16
Yemen, Republic of    13
Morocco               12
Nepal                 12
Bangladesh            12
Mozambique            11
Africa                11
Name: countryshortname, dtype: int64

### 2. Find the top 10 major project themes (using column 'mjtheme_namecode')

In [20]:
major_project_count = mjtheme_namecode.count

In [21]:
print(mjtheme_namecode.code.count)

<bound method Series.count of 0        8
1       11
2        1
3        6
4        5
        ..
1494    10
1495     9
1496     8
1497     5
1498     4
Name: code, Length: 1499, dtype: object>

In [22]:
top = mjtheme_namecode['name'].value_counts()

In [23]:
top.head(10)

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Name: name, dtype: int64

In [24]:
top.nlargest(10)

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Name: name, dtype: int64

### 3. Create a dataframe with the missing names filled in.

In [55]:
nan_value = float("NaN")

In [47]:
mjtheme_namecode['name'].replace('', nan_value, inplace=True)

In [48]:
sorted = mjtheme_namecode.sort_values(by=['code'])

In [49]:
sorted['name'].fillna(method = 'ffill')

458     Economic management
1235    Economic management
1230    Economic management
1229    Economic management
1218    Economic management
               ...
1425      Urban development
447       Urban development
739       Urban development
341       Urban development
1102      Urban development
Name: name, Length: 1499, dtype: object

In [53]:
sorted.head(10)

     code                 name
458     1  Economic management
1235    1  Economic management
1230    1  Economic management
1229    1  Economic management
1218    1  Economic management
900     1  Economic management
648     1  Economic management
647     1  Economic management
1078    1  Economic management
1206    1  Economic management

In [50]:
newtop = sorted['name'].value_counts()

In [51]:
newtop.nlargest(10)

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Economic management                              33
Name: name, dtype: int64